@model ServiceModel

@{
    ViewData["Title"] = "Add Service";
}

<h4 class="text-center">@ViewData["Title"]</h4>

<partial name="_ServiceFormPartial" model="@Model" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
