@model ManufacturerAddingModel

@{
    ViewData["Title"] = "Add Manufacturer";
}
<h4 class="text-center">@ViewData["Title"]</h4>
<hr />
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" placeholder="Manufacturer" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" placeholder="E-mail for contact" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="PhoneNumber" class="control-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" placeholder="Phone number for contact" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
            </div>            
            <div class="form-group">
                <label asp-for="Address.Street" class="control-label"></label>
                <input asp-for="Address.Street" class="form-control" placeholder="Street, number, ect..." />
                <span asp-validation-for="Address.Street" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="form-group col">
                    <label asp-for="Address.TownName" class="control-label"></label>
                    <input asp-for="Address.TownName" class="form-control" placeholder="Town" />
                    <span asp-validation-for="Address.TownName" class="text-danger"></span>
                </div>
                <div class="form-group col">
                    <label asp-for="Address.ZipCode" class="control-label"></label>
                    <input asp-for="Address.ZipCode" class="form-control" placeholder="Zip code" />
                    <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" rows="4" class="form-control" placeholder="Describe product"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary mt-2" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Manufacturers" asp-action="All">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

