@model ManufacturerServiceModel

@{ ViewData["Title"] = "Manufacturer details"; }

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<div class="card">
    <partial name="_ManufacturerDetailsPartial" />
</div>