@model ManufacturerModel

@{
    ViewData["Title"] = "Edit Manufacturer";
}

<h4 class="text-center">@ViewData["Title"]</h4>

<partial name="_ManufacturerFormPArtial" model="@Model" />

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}