@model List<ProductViewModel>

@{
    ViewData["Title"] = "Member Products Page";
}

<div clss="container">
    <partial name="_ProductViewTitle" />
    <div class="row">
        @if (!Model.Any())
        {
            <h2 class="text-center">No products found by the given criteria.</h2>
        }
        @foreach (var wine in Model)
        {
            <div class="col-lg-4 mb-5 col-md-6">
                <div class="text-center pb-4">
                    <a class="thumbnail d-block mb-4"><img src=@wine.ImageUrl alt="Image" class="img-fluid" data-pagespeed-url-hash="789786754" asp-controller="Products" asp-action="ProductDisplay" asp-route-id=@wine.Id></a>
                    <div>
                        <h3 class="heading mb-1"><a href="#">@wine.Name</a></h3>
                        <span class="text-center">@wine.Price lv.</span>
                        <div>
                            <a class="btn" asp-controller="Cart" asp-action="AddToCart" asp-route-id=@wine.Id>
                                <i class="far fa-shopping-bag"> Add to Cart</i>
                            </a>
                        </div>
                        @if (User.IsInRole("Admin"))
                        {
                            <div>
                                <a class="btn btn-danger" asp-controller="Product" asp-action="Delete" asp-route-id=@wine.Id>Delete</a>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>
