@model AdditionalUserInfoAddingModel

<h4 class="text-center">@ViewData["Title"]</h4>
<hr />
<form method="post" class="row g-3">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-6">
        <label asp-for="FirstName" class="form-label">First name</label>
        <input asp-for="FirstName" type="text" class="form-control">
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="LastName" class="form-label">Last name</label>
        <input asp-for="LastName" type="text" class="form-control">
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="col-12">
        <label asp-for="Address.Street" class="form-label">Address</label>
        <input asp-for="Address.Street" type="text" class="form-control" placeholder="1234 Main St">
        <span asp-validation-for="Address.Street" class="text-danger"></span>
    </div>
    <div class="col-md-6">
        <label asp-for="Address.TownName" class="form-label">City</label>
        <input asp-for="Address.TownName" type="text" class="form-control">
        <span asp-validation-for="Address.TownName" class="text-danger"></span>
    </div>
    <div class="col-md-4">
        <label asp-for="Address.CountryName" class="form-label">Country</label>
        <input asp-for="Address.CountryName" type="text" class="form-control">
        <span asp-validation-for="Address.CountryName" class="text-danger"></span>
    </div>
    <div class="col-md-2">
        <label asp-for="Address.ZipCode" class="form-label">Zip</label>
        <input asp-for="Address.ZipCode" type="text" class="form-control">
        <span asp-validation-for="Address.ZipCode" class="text-danger"></span>
    </div>
    <div class="col-12">
        <input type="submit" Value="Save" class="btn btn-primary" />
    </div>
</form>