<div class="container text-center">
    <div>
        <h2>Why to become a member?</h2>
        <p>
            There are lots of benefits if becoming a member to our Cooperative.
            Members use discounts to services and products provide from other members or use the cooperative ones for symbolic sum. So if you are a small manufacturer and you need some machines but you do not have resources to buy them, we can help you. The money cooperative raise with the taxes and selling services goes to buying new machines, belonging to the cooperative as assets not to the members them selfs. Beeng a member you need to pay early fee. It is not a problem if you wish to leave the cooperative, unfotulately you lose the benefits.
            You can always use our products on the regular price without being a member and being commited to the cooperative.
        </p>
    </div>
    <div>
        <h2>How to become a member?</h2>
        <p>To become member you need to apply here:</p>
        <a class="btn btn-primary" asp-controller="Users" asp-action="Apply" asp-route-id="@User.GetId()" >Apply!</a>
        <p>Within 48 hours you need to pay your first fee. The payment is done by bank.</p>
        <p><span class="font-weight-bold">Account: </span></p>
        <p><span class="font-weight-bold">Reason for payment: </span>Membership fee (Insert your username and email)</p>
        <p>The Application will be approved after payment is done.</p>
    </div>
</div>
