@model ProductModel

@{
    ViewData["Title"] = "Add Product";
}

<h4 class="text-center">@ViewData["Title"]</h4>

<partial name="_ProductFormPartial" model="@Model" />


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
