@{
    ViewData["Title"] = "Product Page";
}

<div clss="container">
    <div class="col-12 section-title text-center mb-5">
        <h2 class="d-block">Our Products</h2>
        <p>Wines selected specially for you!</p>
    </div>
    <div class="col-lg-4 mb-5 col-md-6">
        <div class="wine_v_1 text-center pb-4">
            <a href="shop-single.html" class="thumbnail d-block mb-4"><img src="~/Images/113667-sommelier-selections-5-bottles-from-5-different-countries-to-celebrate-with-on-national-wine-day.jpg" alt="Image" class="img-fluid" data-pagespeed-url-hash="789786754"></a>
            <div>
                <h3 class="heading mb-1"><a href="#">Trius Cabernet France 2011</a></h3>
                <span class="price">$629.00</span>
                <div>
                    <a href="cart.html" class="btn">
                        <i class="far fa-shopping-bag"> Add to Cart</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

