
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var userId = User.GetId();
        var IsMember = User.IsMember();
        var IsAdmin = User.IsAdmin();

        if (IsAdmin)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" role="button" data-bs-toggle="dropdown">Admin Pannel</a>
                <ul class="dropdown-menu dropdown-menu-dark">
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="ApplyedUsers">Aplications for Member</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Products" asp-action="All">Products</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Services" asp-action="All">Services</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Manufacturers" asp-action="All">Manufacturers</a></li>
                    <li><a class="dropdown-item" asp-area="Admin" asp-controller="Users" asp-action="AllMembers">Members</a></li>
                </ul>
            </li>
        }
        else if (!(IsAdmin || IsMember))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Users" asp-action="BecomeMember" asp-route-id="@userId">Become Member</a>
            </li>
        }
        else if (!IsAdmin)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="Cart" asp-action="MyCart" asp-route-userId="@userId">
                    <i class="fas fa-shopping-cart">  My Cart</i>
                </a>
            </li>
        }
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>