@model List<UserInfoServiceModel>

@{ 
    ViewData["Title"] = "Applicants";
    ViewBag.Member = false;
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />
<table class="table table-striped">
    <partial name="_TableHeadPartial" />
    <partial name="_UserTableBodyPartial" />
</table>
