.timesFont {
    font-family:'Times New Roman', Times, serif;
}

.largerSize{
    font-size:larger;
}

.container-fluid .row {
    background-color: #76543A;
}

.row .col-12 .text-center p{
    font-size: x-small;
}
